{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>GestAcademy v0.2</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
</head>

<body background="{% static "img/bg1.jpg" %}">
    <div id="content">
        <div id="main">
            <header>
                <a href="/AcademyApp/index"><img src="{% static "img/title.jpg" %}"/></a>
            </header>
        </div>
        <nav>
            <ul class="menu">
                <li id="start"><a href="{%  url 'getAcademies'%}">View Academies</a></li>
                <li id="history"><a href="{%  url 'getTeachers'%}">View Teachers</a></li>
                <li id="photos"><a href="{%  url 'getStudents'%}">View Students</a></li>
            </ul>
        </nav>
        <section>
        {% if acdmy %}
            <table>
                <caption><h1>Academy information</h1></caption>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>{{  acdmy.name }}</td>
                    </tr>
                    <tr>
                        <th>City</th>
                        <td>{{ acdmy.city }}</td>
                    </tr>
                    <tr>
                        <th>Street</th>
                        <td>{{ acdmy.direction }}</td>
                    </tr>
                    <tr>
                        <th><a href="javascript:history.back()"><img class="bt" src="{% static "img/return.png"%}" /></a>
                            <a href="{%  url 'editAcademy' acdmy.id %}/"><img class="bt" src="{% static "img/edit.png"%}" /></a>
                            <a href="{%  url 'remAcademy' acdmy.id %}/"><img class="bt" src="{% static "img/remove.png"%}" /></a></th>
                    </tr>
                </tbody>
            </table>
            {% else %}
                <h1>Problem getting academy</h1>
            {% endif %}

        </section>
    </div>
</body>