{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>GestAcademy v0.2</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
</head>

<body background="{% static "img/bg1.jpg" %}">
    <div id="content">
        <div id="main">
            <header>
                <img src="{% static "img/title.jpg" %}">
            </header>
        </div>
        <nav>
            <ul class="menu">
                <li id="start"><a href="{%  url 'getAcademies'%}">View Academies</a></li>
                <li id="history"><a href="{%  url 'getTeachers'%}">View Teachers</a></li>
                <li id="photos"><a href="{%  url 'getStudents'%}">View Students</a></li>
            </ul>
        </nav>
        <section>
        {% if acdmy %}
            <table>
                <caption>Academy information</caption>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>{{  acdmy.name }}</td>
                    </tr>
                    <tr>
                        <th>City</th>
                        <td>{{ acdmy.city }}</td>
                    </tr>
                    <tr>
                        <th>Street</th>
                        <td>{{ acdmy.direction }}</td>
                    </tr>
                    <tr>
                        <th>Phone Number</th>
                        <td>{{ acdmy.telephone }}</td>
                    </tr>
                    <tr>
                        <th>eMail</th>
                        <td>{{ acdmy.email }}</td>
                    </tr>
                    <tr>
                        <th>Academy</th>
                        <td>{{ acdmy.academy }}</td>
                    </tr>
                    <tr>
                        <th><a href="javascript:history.back()"><img id="return2" src="{% static "img/return.png"%}" /></a></th>
                    </tr>
                </tbody>
            </table>
            {% else %}
                <h1>Problem getting academy</h1>
            {% endif %}

        </section>
    </div>
</body>


{% if acdmy %}
    <h1>{{  acdmy.name }}</h1>
    <ul>
        <li>Direction: {{ acdmy.direction }}</li>
        <li>City: {{ acdmy.city }}</li>
    </ul>
{% else %}
    Problem getting academy
{% endif %}
    <a href="javascript:history.back()">Go back</a>