{% include "AcademyApp/header.html" %}
{% load staticfiles %}
        <section>
            {% if object %}
            <table>
                <caption><h1>Academy information</h1></caption>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>{{  object.name }}</td>
                    </tr>
                    <tr>
                        <th>City</th>
                        <td>{{ object.city }}</td>
                    </tr>
                    <tr>
                        <th>Street</th>
                        <td>{{ object.direction }}</td>
                    </tr>
                    <tr>
                        <th><a href="javascript:history.back()"><img class="bt" src="{% static "img/return.png"%}" /></a>
                            <a href="{%  url 'academy_update' object.id %}"><img class="bt" src="{% static "img/edit.png"%}" /></a>
                            <a href="{%  url 'academy_delete' object.id %}"><img class="bt" src="{% static "img/remove.png"%}" /></a></th>
                    </tr>
                </tbody>
            </table>
            {% else %}
                <h1>Problem getting academy</h1>
            {% endif %}
        </section>
{% include "AcademyApp/footer.html" %}