{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>GestAcademy v0.2</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
</head>

<body background="{% static "img/bg1.jpg" %}">
    <div id="content">
        <div id="main">
            <header>
                <img src="{% static "img/title.jpg" %}">
            </header>
        </div>
        <nav>
            <ul class="menu">
                <li id="start"><a href="{%  url 'getAcademies'%}">View Academies</a></li>
                <li id="history"><a href="{%  url 'getTeachers'%}">View Teachers</a></li>
                <li id="photos"><a href="{%  url 'getStudents'%}">View Students</a></li>
            </ul>
        </nav>
        <section>
            {% if academies_list %}
            <h1>Current academies list</h1>
            <ul>
            {% for academy in academies_list %}
                <li><a href="{%  url 'getAcademy' academy.id %}}/">{{ academy.name }}</a></li>
            {% endfor %}
                <li><a href="javascript:history.back()"><img id="return" src="{% static "img/return.png"%}" /></a></li>
            </ul>
        {% else %}
            <p>No academies are available.</p>
        {% endif %}

        </section>
        <footer>
            <p>Download list in:
                <a href="{%  url 'getAcademies'%}.json">JSON</a>
                <a href="{%  url 'getAcademies'%}.xml">XML</a></p>
        </footer>
    </div>
</body>