{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>GestAcademy v0.2</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="{% static "scripts/cities_dyn" %}"></script>
</head>

<body background="{% static "img/bg1.jpg" %}">
    <div id="content">
        <div id="main">
            <header>
                <a href="/AcademyApp/index"><img src="{% static "img/title.jpg" %}"/></a>
            </header>
        </div>
        <nav>
            <ul class="menu">
                <li id="start"><a href="{%  url 'getAcademies'%}">View Academies</a></li>
                <li id="history"><a href="{%  url 'getTeachers'%}">View Teachers</a></li>
                <li id="photos"><a href="{%  url 'getStudents'%}">View Students</a></li>
            </ul>
        </nav>
        <section>
            <form action="{%  url 'addStudent'%}" method="post">
                <table>
                    {% csrf_token %}
                    {{ form }}
                    <tr><th>
                        <input type="submit" value="Submit" />
                        <a href="javascript:history.back()"></a><img class="bt" id="return2" src="{% static "img/return.png"%}" /></a>
                    </th></tr>
                </table>
            </form>

        </section>
    </div>
</body>