{% extends "AcademyApp/base.html" %}
{% load staticfiles %}
{% block content %}
    {% if object %}
        <span vocab="http://schema.org/" typeof="Teacher">
        <table>
            <h1>Teacher information</h1>
            <tbody>
                <tr>
                    <th>Name</th>
                    <td>
                        <span property="name">{{  object.name }}</span>
                    </td>
                </tr>
                <tr>
                    <th>City</th>
                    <td><span property="city">{{ object.city }}</span></td>
                </tr>
                <tr>
                    <th>Street</th>
                    <td><span property="direction">{{ object.direction }}</span></td>
                </tr>
                <tr>
                    <th>Phone Number</th>
                    <td><span property="telephone">{{ object.telephone }}</span></td>
                </tr>
                <tr>
                    <th>eMail</th>
                    <td><span property="email">{{ object.email }}</span></td>
                </tr>
                <tr>
                    <th>Academy</th>
                    <td><span property="academy">{{ object.academy }}</span></td>
                </tr>
                <tr>
                    <th><a href="javascript:history.back()"><img class="bt" src="{% static "img/return.png"%}" /></a>
                        {% if object.author.get_username == user.username %}
                            <a href="{%  url 'teacher_update' object.id %}"><img class="bt" src="{% static "img/edit.png"%}" /></a>
                            <a href="{%  url 'teacher_delete' object.id %}"><img class="bt" src="{% static "img/remove.png"%}" /></a></th>
                        {% endif %}
                </tr>
            </tbody>
        </table>
        </span>

        <h2>Reviews</h2>
        <ul>
        {% for review in teacher.teacherreview_set.all %}
            <li>
                <p>{{ review.rating }} star{{ review.rating|pluralize }}</p>
                <p>{{ review.comment }}</p>
                <p>Created by {{ review.user }} on {{ review.date }}</p>
            </li>
        {%	endfor	%}
        </ul>

        <h3>Add review</h3>
        <form action="{% url 'teacher_review_create' teacher.id %}" method="post">
            {%	csrf_token	%}
            Message: <textarea name="comment" id="comment" rows="4"></textarea>
            <p>Rating:</p>
                <label><input type="radio" name="rating" value="1">1 Star</label>
                <label><input type="radio" name="rating" value="2">2 Star</label>
                <label><input type="radio" name="rating" value="3" checked>3 Star</label>
                <label><input type="radio" name="rating" value="4">4 Star</label>
                <label><input type="radio" name="rating" value="5">5 Star</label><br>
            <input	type="submit"	value="Review"	/>
        </form>

    {% else %}
        <h1>Problem getting teacher</h1>
    {% endif %}
{% endblock	%}

{% block footer %}
    Created	by {{ object.author.get_username }} on {{ object.registered }}
{% endblock	%}

