{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>GestAcademy v0.2</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
</head>

<body background="{% static "img/bg1.jpg" %}">
    <div id="content">
        <div id="main">
            <header>
                <a href="/AcademyApp/index"><img src="{% static "img/title.jpg" %}"/></a>
            </header>
        </div>
        <nav>
            <ul class="menu">
                <li id="start"><a href="{%  url 'getAcademies'%}">View Academies</a></li>
                <li id="history"><a href="{%  url 'getTeachers'%}">View Teachers</a></li>
                <li id="photos"><a href="{%  url 'getStudents'%}">View Students</a></li>
            </ul>
        </nav>
        <section>
            {% if teachers_list %}
            <h1>Current teachers list</h1>
            <ul>
            {% for teacher in teachers_list %}
                <li><a href="{%  url 'getTeacher' teacher.id %}/">{{ teacher.name }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No teachers are available.</p>
        {% endif %}
            <ul>
                <li><a href="javascript:history.back()"><img class="bt" id="return" src="{% static "img/return.png"%}" /></a>
                    <a href="{%  url 'addTeacher' %}"><img class="bt" id="return" src="{% static "img/add.png"%}" /></a></li>
            </ul>

        </section>
        <footer>
            <p>Download list in:
                <a href="{%  url 'getTeachers'%}.json">JSON</a>
                <a href="{%  url 'getTeachers'%}.xml">XML</a></p>
        </footer>
    </div>
</body>