body{
    background-repeat: no-repeat;
    background-size: 100%;
}

#content{
    position: fixed;
    top: 0px;
    left: 15%;
    right: 15%;
    bottom: 0px;
    background-color: white;
    width: 60%;
}

header{
    width: 100%;
    text-align:center;
}

h1{
    font-family: Verdana, Arial, helvetica, sans-serif;
    text-align: center;
}

ul{
    text-align: center;
    list-style-type: none;
}

header img{
    width:500px;
    display:inline-block;
    margin: 0 auto;
}

img#return{
    height: 5%;
    width: 5%;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

nav ul li { display: inline; }

nav ul li a {
    text-decoration: none;
    padding: .2em 1em;
    color: #fff;
    background-color: #036;
}

nav ul li a:hover {
    color: #fff;
    background-color: #369;
}

footer{
    text-align: center;
    position: fixed;
    bottom: 0px;
    background-color: white;
    width: 60%;
}

section{
    align-content: center;
}

form{
    margin: 0 auto;
}

input{
    margin-left: 40%;
}

header a{
    margin-top: 5%;
    margin-right: 5%;
    float: right;
}