header{
    width: 100%;
    text-align:center;
}

header p{
    position: fixed;
    margin: 2%;
    float: right;
}

header img{
    width:500px;
    display:inline-block;
    margin: 0 auto;
}

/************** MENU NAV *******/
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

nav ul li { display: inline; }

nav ul li a {
    text-decoration: none;
    padding: .2em 1em;
    color: #fff;
    background-color: #036;
}

nav ul li a:hover {
    color: #fff;
    background-color: #369;
}

ul{
    text-align: center;
    list-style-type: none;
}

/********************************/

body{
    background-repeat: no-repeat;
    background-size: 100%;
}

section{
    text-align: center;
    align-content: center;
}

#content{
    position: fixed;
    top: 0px;
    left: 15%;
    right: 15%;
    bottom: 0px;
    background-color: white;
    width: 60%;
}

footer{
    text-align: center;
    position: fixed;
    bottom: 0px;
    background-color: white;
    width: 60%;
}

h1{
    font-family: Verdana, Arial, helvetica, sans-serif;
    text-align: center;
}

img.bt{
    height: 25px;
    width: 25px;
    margin: 5px;
}

table{
    margin: 5% auto;
    width:40%;
    /*
    background-color: #6C97BB;
    border:1px solid black;
    border-collapse:separate;
    */
}

th, td{
    text-align:left;
    /*
    border:1px solid black;
    */
}

th{
    width:35%;
}